.left-card {
  width: 35%;
  height: 85vh;
  background-color: var(--header-background-color);
}

.right-card {
  width: 63%;
  height: 85vh;
  background-color: var(--header-background-color);
}

.addExpense {
  background-color: #ff923c;
  color: white;
}

.addExpense:hover {
  color: white;
}

.oweBoxes {
  width: 50%;
  text-align: center;
  padding: 20px 0px;
  font-size: 14px;
  background-color: var(--body-background-color);
}

.divider{
  position:absolute;
  left:50%;
  top:10%;
  bottom:10%;
  border-left:1px solid var(--lite-lines);
}

.money {
  color: #1db402;
}

.moneyLent {
  color: #ff652f;
}

.alertHolder {
  position: absolute;
  left: 0;
  right: 0;
}



