

.friendInput {
  width: 85%;
  height: 26px;
}

.addExpenseFriend {
  width: 50%;
  height: 26px;
  border: none;
  background-color: var(--body-background-color);
}

.addExpenseFriend:focus {
  outline: 0;
  box-shadow: none;
  background-color: var(--body-background-color);
}

.expenseBody {
  border: none;
  background-color: var(--body-background-color);
  width: 98%;
  padding: 15px;
  border-bottom: 1px dashed;
}

.expenseBody:focus {
  outline: 0;
  box-shadow: none;
  background-color: var(--body-background-color);
}