@font-face {
  font-family: "Montserrat-Black";
  src: local("Montserrat-Black"),
   url("./Montserrat/Montserrat-Black.ttf") format("truetype");
  font-weight: 900;
}

@font-face {
  font-family: "Montserrat-BlackItalic";
  src: local("Montserrat-BlackItalic"),
   url("./Montserrat/Montserrat-BlackItalic.ttf") format("truetype");
  font-weight: 900;
}

@font-face {
  font-family: "Montserrat-Bold";
  src: local("Montserrat-Bold"),
   url("./Montserrat/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Montserrat-BoldItalic";
  src: local("Montserrat-BoldItalic"),
   url("./Montserrat/Montserrat-BoldItalic.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Montserrat-ExtraBold";
  src: local("Montserrat-ExtraBold"),
   url("./Montserrat/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "Montserrat-ExtraBoldItalic";
  src: local("Montserrat-ExtraBoldItalic"),
   url("./Montserrat/Montserrat-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "Montserrat-ExtraLight";
  src: local("Montserrat-ExtraLight"),
   url("./Montserrat/Montserrat-ExtraLight.ttf") format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "Montserrat-ExtraLightItalic";
  src: local("Montserrat-ExtraLightItalic"),
   url("./Montserrat/Montserrat-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "Montserrat-Italic";
  src: local("Montserrat-Italic"),
   url("./Montserrat/Montserrat-Italic.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat-Light";
  src: local("Montserrat-Light"),
   url("./Montserrat/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Montserrat-LightItalic";
  src: local("Montserrat-LightItalic"),
   url("./Montserrat/Montserrat-LightItalic.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Montserrat-Medium";
  src: local("Montserrat-Medium"),
   url("./Montserrat/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Montserrat-MediumItalic";
  src: local("Montserrat-MediumItalic"),
   url("./Montserrat/Montserrat-MediumItalic.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Montserrat-Regular";
  src: local("Montserrat-Regular"),
   url("./Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat-SemiBold";
  src: local("Montserrat-SemiBold"),
   url("./Montserrat/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Montserrat-SemiBoldItalic";
  src: local("Montserrat-SemiBoldItalic"),
   url("./Montserrat/Montserrat-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Montserrat-Thin";
  src: local("Montserrat-Thin"),
   url("./Montserrat/Montserrat-Thin.ttf") format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: "Montserrat-ThinItalic";
  src: local("Montserrat-ThinItalic"),
   url("./Montserrat/Montserrat-ThinItalic.ttf") format("truetype");
  font-weight: 100;
}
  