.friendSuggestion {
  width: 100%;
  position: absolute;
  background-color: var(--header-background-color);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.nameHolder {
  padding: 0px 5px;
  border: 1px solid #b1b1b1;
}

.nameHolder.bx {
  cursor: pointer;
}

.closeSuggestions {
  position: absolute;
  right: 0;
  cursor: pointer;
  z-index: 1;
}

.suggetionItem:hover {
  cursor: pointer;
  background-color: var(--body-background-color);
}

.removeSelectedSuggestions {
  padding: 5px 0px;
  cursor: pointer;
}

.modal-body {
  height: 60vh;
}

.outerCard {
  position: absolute;
  top: 0;
  width: 300px;
  right: -305px;
  background-color: var(--body-background-color);
}

.paidBy {
  color: #1db402;
  padding: 1px 3px;
  border-radius: 3px;
  cursor: pointer;
}

.nameHolderBox {
  max-height: 70px;
  overflow-y: auto;
}

.sideCardHead {
  padding: 8px;
  border-bottom: 1px solid var(--lite-lines);
}
