.navBarHeight {
  height: 8vh;
  background-color: var(--header-background-color);
}

.splitWise {
  font-family: Montserrat-ExtraBold;
  background: -webkit-linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navShadow {
  box-shadow: 0 4px 3px -3px var(--shadow-color);
}

.toggle {
  color: var(--icon-color);
  cursor: pointer;
}

.sun {
  color: #ffc41c;
}

.moon {
  color: white;
}
