.App {
  height: 100vh;
  background-color: var(--body-background-color);
}

.modal-content {
  background-color: var(--body-background-color) !important;
}

* {
  color: var(--text-color);
}

.nonNavBody {
  height: 90vh;
  margin-top: 2vh;
}

[data-theme='light'] {
  --header-background-color: white;
  --body-background-color: #ededed;
  --shadow-color: #999;
  --icon-color: #5a5a5a;
  --text-color: black;
  --lite-lines: #d1d1d1;
}

[data-theme='dark'] {
  --header-background-color: black;
  --body-background-color: #1d1d1d;
  --shadow-color: #202020;
  --icon-color: white;
  --text-color: white;
  --lite-lines: #3f3f3f;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.font-16 {
  font-size: 16px;
}

.font-14 {
  font-size: 14px;
}

.alert {
  z-index: 9999 !important;
}
