@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import './assets/fonts/fonts.css';
@import '../node_modules/boxicons/css/boxicons.min.css';

* {
  font-family: --apple-system, Montserrat-Medium;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
